// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.circle-pic{
	-webkit-border-radius: 50%;
    border-radius: 50%;
}

.product-modal-img {
	width: 150px;
	height: 150px;
	display: block;
	margin: 10px auto;
	margin-bottom: 0;
	box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.5);
}

.text-center {
	text-align: center;
}

.theme-gradient, .toolbar-background {
	background: -moz-linear-gradient(215deg, rgba(243,206,157,1) 0%, rgba(218,91,87,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(218,91,87,1)), color-stop(100%, rgba(243,206,157,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(215deg, rgba(243,206,157,1) 0%, rgba(218,91,87,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(215deg, rgba(243,206,157,1) 0%, rgba(218,91,87,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(215deg, rgba(243,206,157,1) 0%, rgba(218,91,87,1) 100%); /* ie10+ */
	background: linear-gradient(235deg, rgba(243,206,157,1) 0%, rgba(218,91,87,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DA5B57', endColorstr='#F3CE9D',GradientType=1 ); /* ie6-9 */
}