page-welcome {

  .sign-in-title {
    text-align: center;
    font-size: 24px;
  }

  .splash-logo {
    position: absolute;
    right: 20px;
    top: 30px;
    background: url('../assets/img/logo.png') no-repeat transparent;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }

  .person-placeholder {
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 70px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .sign-in-section {
    margin-top: 20px;
    padding: 10px 20px;

    ion-input {
      padding: 10px;
      border: lightgray solid 1px;
    }

    .signin-btn {
      @extend .theme-gradient;
      padding: 32px;
      // background-color: red;
    }
  }

  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  button.facebook {
    margin-top: 10px;
  }
}
