$google-red: #dd4b39;

page-welcome {

  .sign-in-title {
    text-align: center;
    font-size: 24px;
  }

  .splash-logo {
    position: absolute;
    right: 20px;
    top: 30px;
    background: url('../assets/img/logo.png') no-repeat transparent;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }

  .person-placeholder {
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 70px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .sign-in-section {
    margin-top: 20px;
    padding: 10px 20px;

    ion-input {
      padding: 10px;
      border: lightgray solid 1px;
    }

    .signin-btn {
      @extend .theme-gradient;
      padding: 32px;
      // background-color: red;
    }
  }

  .social-login {
    margin: auto;
    margin-top: 20px;
    width: 80%;

    button {
      margin-bottom: 10px;
    }

    button.google {
      background-color: $google-red;
    }
  }
}
